.contain {
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /* flex-direction: row; */

}
.cards{
    transition: all 1s ease-in;
}
.cards:hover{
    transition: all 1s ease-out;
    transform:scale(1.1) ;
    box-shadow: 5px 8px 10px grey;
    cursor: pointer;
}